<!-- <p>header works!</p> -->


l

    <header>
        <nav class="navbarNew navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <img src=".//.//images//logo.png" alt="">
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0 ms-2">
        
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="px-2">
                                    <!-- <h5 class="">BE</h5> -->
                                    <img src="../assets/images/agency6.webp" alt="">
                                </div>
                            </div>
                        </div>
        
                        <li class="nav-item">
                            <a class="nav-link ms-5" routerLink="/login" routerLinkActive="active">Home</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link ms-4" routerLink="/about" routerLinkActive="active">What we do?</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link ms-4" routerLink="/user" routerLinkActive="active">Our team</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link ms-4" routerLink="/home" routerLinkActive="active">Portfolio</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link ms-4" routerLink="/contact" routerLinkActive="active">Contact us</a>
                        </li>
        
                    </ul>
                    <form class="d-flex" role="search">
                        <button class="btn btn-primary me-2" type="submit">Hire us</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>  
