
<!-- <header>
	<app-header></app-header>
</header> -->

<ngb-carousel [showNavigationArrows]="false">
	<ng-template ngbSlide>
		<div class="container">
			<div class="row">
				<div class="text-center text-secondary">
					TESTIMONIALS
				</div>

				<div class="text-center text-white fs-1 fw-semibold">
					Over <span class="text-primary">300 satisfied</span> clients
				</div>

				<div class="d-flex justify-content-center my-5">
					<img src="../../assets/images/agency6-testimonials-pic3.webp" class="rounded-circle" alt="">
				</div>

				<div class="d-flex justify-content-center text-lg-start text-center text-white">
					<p>Ut sodales dignissim massa. Proin dui vitae felis. Donec orci. Mauris at eros. Vestibulum tempus.
						Pellentesque<br> facilisis nisl quam, ultrices posuere cubilia Curae, Mauris at nibh. Ut eget
						dolor eget
						arcu vel diam.</p>
				</div>

				<div class="text-center text-primary fs-1">
					...
				</div>

				<div class="text-center text-white">
					Caroline Sign
				</div>

				<div class="text-secondary text-center my-1">Moonwalk</div>
			</div>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="container">
			<div class="row">
				<div class="text-center text-secondary">
					TESTIMONIALS
				</div>

				<div class="text-center text-white fs-1 fw-semibold">
					Over <span class="text-primary">300 satisfied</span> clients
				</div>

				<div class="d-flex justify-content-center my-5">
					<img src="../../assets/images/agency6-testimonials-pic2.webp" class="rounded-circle" alt="">
				</div>

				<div class="d-flex justify-content-center text-lg-start text-center text-white">
					<p>Curabitur nec risus. Sed sollicitudin fermentum, metus vitae wisi bibendum sem, posuere cubilia
						Curae,<br> Vivamus justo. Suspendisse potenti. Cras in nonummy consequat tortor.</p>
				</div>

				<div class="text-center text-primary fs-1 ">
					...
				</div>

				<div class="text-center text-white">
					Caroline Sign
				</div>

				<div class="text-secondary text-center my-2">Moonwalk</div>
			</div>
		</div>
	</ng-template>
	
	<ng-template ngbSlide>
		<div class="container">
			<div class="row">
				<div class="text-center text-secondary">
					TESTIMONIALS
				</div>

				<div class="text-center text-white fs-1 fw-semibold">
					Over <span class="text-primary">300 satisfied</span> clients
				</div>

				<div class="d-flex justify-content-center my-5">
					<img src="../../assets/images/agency6-testimonials-pic1.webp" class="rounded-circle" alt="">
				</div>

				<div class="d-flex justify-content-center text-lg-start text-center text-white my-3">
					<p>In bibendum ac, accumsan sed, aliquam tortor. Maecenas bibendum tellus, fringilla id, wisi. Morbi
						a sapien.<br> Etiam vulputate, enim aliquam ut, tristique ut, semper nec, dignissim in.</p>
				</div>

				<div class="text-center text-primary fs-1">
					...
				</div>

				<div class="text-center text-white">
					Caroline Sign
				</div>

				<div class="text-secondary text-center my-2">Moonwalk</div>
			</div>
		</div>
	</ng-template>
</ngb-carousel>