<!-- <p>about works!</p> -->



<header>
 <app-header></app-header>
</header>

    <section class="main">
        <div class="container">
            <div class="row px-5">
                <div class="col-4">
                    <div class="text-1 fs-1 fw-semibold text-white">
                        Our <br><span class="text-primary">services</span><br> See what<br> we do
                    </div>

                    <div class="my-5">
                        <div class="col-12">
                            <div class="d-flex align-items-center my-5">
                                <div>
                                    <div
                                        class="d-flex justify-content-center align-items-center bg-primary rounded-circle me-3 count-circle text-center text-white">
                                        <span class="icon text-black">&#8594;</span>
                                    </div>
                                </div>

                                <div class="text-2">
                                    Please contact us
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-1 col-8">
                    <img src="../../assets/images/agency6-whatwedo-pic1.webp" class="pick-1" alt="">
                </div>
            </div>
        </div>

    </section>


    <section>
        <div class="container p-5">
            <div class="row d-flex justify-content-between my-5">
               
                <div class="col-md-6">
                    <img src="../../assets/images/agency6-whatwedo-pic2.webp" class="w-40-p" alt="">
                </div>

                <div class="col-md-6">
                    <div class="text-secondary my-2 fw-semibold">
                        YOU CAN DO WITH US
                    </div>
                    <div class="text-lg-start text-white fs-1">
                        <span class="text-primary">Websites</span><br> Cur aehimenaeos<br>fermentum dictumst
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="my-5">
                            <img src="../../assets/images/agency6-whatwedo-icon1.webp" alt="">
                            <p class="text-white my-4">Consectetur cursus etiam etiam<br> donec libero quisque
                            </p>
                        </div>

                        <div>
                            <img src="../../assets/images/agency6-whatwedo-icon2.webp" alt="">
                            <p class="text-white my-4">Consectetur cursus etiam etiam<br> donec libero quisque
                            </p>
                        </div>

                    </div>
                    <p class="text-white">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>
                        commodo consequat. Duis aute irure dolor in reprehenderit in<br> voluptate velit.</p>

                    <!-- <div class="my-3"> -->

                    <!-- </div> -->

                    <form class="d-flex my-4" role="search">
                        <button class="read me-2" type="submit">Read more</button>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="container p-5">
            <div class="row d-flex justify-content-between">
                <div class="text-secondary fw-semibold my-2">
                    YOU CAN DO WITH US
                </div>

                <div class="col-md-6">
                    <div class="text-lg-start text-white fs-1">
                        <span class="text-primary">E-Commerce</span><br> Pretium habitasse<br>tortor blandit
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="my-5">
                            <img src="../../assets/images/agency6-whatwedo-icon3.webp" alt="">
                            <p class="text-white my-4">Suspendisse magna amet<br> lobortis cubilia nostra
                            </p>
                        </div>

                        <div>
                            <img src="../../assets/images/agency6-whatwedo-icon4.webp" alt="">
                            <p class="text-white my-4">Dictumst nisi libero convallis<br> magna iaculi
                            </p>
                        </div>

                    </div>
                    <p class="text-white">Rhoncus lectus feugiat tortor porta metus ultrices porta fames<br>
                        vulputate tempor ipsum ligula commodo at cras convallis orci aptent<br> nulla dui</p>

                        <!-- <div class="col-md-6">
                            <div>
                                <img src="../../assets/images/agency6-whatwedo-pic3.webp" class="w-40-p" alt="">
                            </div>
                        </div> -->
        
                    <!-- <div class="my-3"> -->

                    <!-- </div> -->

                    <form class="d-flex my-4" role="search">
                        <button class="read me-2" type="submit">Read more</button>
                    </form>
                </div>
                
                <div class="col-md-6">
                    <div>
                        <img src="../../assets/images/agency6-whatwedo-pic3.webp" class="w-40-p" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="container p-5">
            <div class="row d-flex justify-content-between my-5">
               
                <div class="col-md-6">
                    <img src="../../assets/images/agency6-whatwedo-pic4.webp" class="w-40-p" alt="">
                </div>

                <div class="col-md-6">
                    <div class="text-secondary my-2 fw-semibold">
                        YOU CAN DO WITH US
                    </div>
                    <div class="text-lg-start text-white fs-1">
                        <span class="text-primary">Applications</span><br> Dapibus accumsan<br>etiam himen
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="my-5">
                            <img src="../../assets/images/agency6-whatwedo-icon5.webp" alt="">
                            <p class="text-white my-4">Nisi laoreet velit consequat cras<br> facilisis
                            </p>
                        </div>

                        <div>
                            <img src="../../assets/images/agency6-whatwedo-icon6.webp" alt="">
                            <p class="text-white my-4">Dapibus metus commodo<br> sagittis molestie massa.
                            </p>
                        </div>

                    </div>
                    <p class="text-white">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>
                        commodo consequat. Duis aute irure dolor in reprehenderit in<br> voluptate velit.</p>

                    <!-- <div class="my-3"> -->

                    <!-- </div> -->

                    <form class="d-flex my-4" role="search">
                        <button class="read me-2" type="submit">Read more</button>
                    </form>
                </div>

            </div>
        </div>
    </section>


    <section>
        <div class="container p-5">
            <div class="row d-flex justify-content-between">
                <div class="text-secondary fw-semibold my-2">
                    YOU CAN DO WITH US
                </div>

                <div class="col-md-6">
                    <div class="text-lg-start text-white fs-1">
                        <span class="text-primary">Design system</span><br> Donec faucibus<br>congue nibh amet
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="my-5">
                            <img src="../../assets/images/agency6-whatwedo-icon7.webp" alt="">
                            <p class="text-white my-4">Eget himenaeos imperdiet<br> aliquam pharetra urna

                            </p>
                        </div>

                        <div>
                            <img src="../../assets/images/agency6-whatwedo-icon8.webp" alt="">
                            <p class="text-white my-4">Tempus porttitor metus sociosqu<br> tempus aptent
                            </p>
                        </div>

                    </div>
                    <p class="text-white">Ligula gravida curae praesent sagittis augue aenean fermentum<br>
                        volutpat nam purus suspendisse est platea quisque euismod lacus<br> vitae pulvinar diam posuere arcu</p>

                        <!-- <div class="col-md-6">
                            <div>
                                <img src="../../assets/images/agency6-whatwedo-pic3.webp" class="w-40-p" alt="">
                            </div>
                        </div> -->
        
                    <!-- <div class="my-3"> -->

                    <!-- </div> -->

                    <form class="d-flex my-4" role="search">
                        <button class="read me-2" type="submit">Read more</button>
                    </form>
                </div>
                
                <div class="col-md-6">
                    <div>
                        <img src="../../assets/images/agency6-whatwedo-pic5.webp" class="w-40-p" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section>
      <apps-carouel></apps-carouel>
    
        <div class="container">
          <div class="row justify-content-between my-5">
            <div class="col-md-3">
              <img src="../../assets/images/agency6-clients-pic4.webp" class="w-10-p" alt="">
            </div>
    
            <div class="col-md-3 fs-2">
              <img src="../../assets/images/agency6-clients-pic3.webp" class="w-10-p" alt="">
            </div>
    
            <div class="col-md-3">
              <img src="../../assets/images/agency6-clients-pic2.webp" class="w-10-p" alt="">
            </div>
    
            <div class="col-md-3 fs-2">
              <img src="../../assets/images/agency6-clients-pic1.webp" class="w-10-p" alt="">
            </div>
            
          </div>
        </div>
    
    </section>


    <footer class="footer">
  
        <div class="container text-center text-md-left">
      
          <div class="row">
      
            <div class="col-md-3 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-secondary text-lg-start fs-6">QUICK LINKS</h5>
      
              <ul class="list-unstyled text-lg-start">
                <li >
                  <a href="#!">VBusiness Strategy</a>
                </li>
                <li>
                  <a href="#!">Marketing Strategy</a>
                </li>
                <li>
                  <a href="#!">UX/UI</a>
                </li>
                <li>
                  <a href="#!">Product Design</a>
                </li>
              </ul>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
      
            <div class="col-md-3 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-secondary text-lg-start fs-6">OUR POLICY</h5>
      
              <ul class="list-unstyled text-lg-start">
                <li>
                  <a href="#!">Career</a>
                </li>
                <li>
                  <a href="#!">Our goals</a>
                </li>
                <li>
                  <a href="#!">Events</a>
                </li>
                <li>
                  <a href="#!">Our Founder</a>
                </li>
              </ul>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
      
            <div class="col-md-3 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-secondary text-lg-start fs-6">COMPANY ADDRESS</h5>
      
              <ul class="list-unstyled text-lg-start">
                <li>
                  <a href="#!">Level 13,</a>
                </li>
                <li>
                  <a href="#!">2 Elizabeth,</a>
                </li>
                <li>
                  <a href="#!">Victoria 3000,</a>
                </li>
                <li>
                  <a href="#!">Australia</a>
                </li>
              </ul>
      
            </div>
      
            <hr class="clearfix w-100 d-md-none">
      
            <div class="col-md-3 mx-auto">
      
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
      
              <ul class="list-unstyled text-lg-start">
                <li>
                  <a><img src="../assets/images/agency6.webp" alt=""></a>
                </li>
                <li class="fs-4">
                  <a href="#!">+61 (0) 3 8376 6284</a>
                </li>
                <li>
                  <a href="#!">noreply@envato.com</a>
                </li>
                <li>
                  <a href="#!"></a>
                </li>
              </ul>
      
            </div>
      
          </div>
      
        </div>
        <hr class="text-secondary">
        <div class="d-flex justify-content-between p-5">
          <span class="fw-semibold d-flex align-items-center text-secondary"> © 2020 Copyright:
            © 2023 Betheme by Muffin group | All Rights Reserved | Powered by WordPress</span>
        
            <span class="fs-1"><a href="">&#x5e;</a></span>
        </div>
      </footer>
    

