<!-- <p>user works!</p> -->




    <header>
        <app-header></app-header>
    </header>


    <section class="main">
        <div class="container">
            <div class="row p-5">
                <div class="col-4">
                    <div class="text-1 fs-1 fw-semibold text-white">
                        Get to<br> know us<br> <span class="text-primary">better</span> and<br> check our<br> story
                    </div>

                    <div class="my-5">
                        <div class="col-12">
                            <div class="d-flex align-items-center my-5">
                                <div>
                                    <div
                                        class="d-flex justify-content-center align-items-center bg-primary rounded-circle me-3 count-circle text-center text-white">
                                        <span class="icon text-black">&#8594;</span>
                                    </div>
                                </div>

                                <div class="text-2">
                                    contact us
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-1 col-8">
                    <img src="../../assets/images/agency6-about-pic1.webp" class="pick-1" alt="">
                </div>
            </div>
        </div>

    </section>


    <section>
        <div class="container">
            <div class="row p-5">
                <div class="col-md-6">
    
                    <div class="text-secondary text-center">
                        OUR STORY
                    </div>
    
                    <div class="text-white fs-1 text-center">
                        We want to share with<br> you <span class="text-primary">our milestones</span>
                    </div>
    
                    <p class="d-flex text-white my-3 text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br> ad minim veniam, quis
                        nostrud exercitation.
                    </p>
                </div>
    
                <div class="col-md-6">
                    <p class="text-white text-lg-start my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim<br> ad minim veniam, quis
                        nostrud
                        exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat. Duis aute irure dolor in<br>
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla<br> pariatur.</p>
    
                        <p class="text-white text-lg-start">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui<br> officia deserunt mollit anim id est
                            laborum.</p>
                </div>
               
            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-md-8">
                    <img src="../assets/images/agency6-about-pic2 (1).webp" class="w-40-p" alt="">
                </div>

                <div class="col-md-4">
                    <div class="text-secondary my-2">
                        ABOUT US
                    </div>

                    <div class="text-lg-start text-white fs-2">
                        We are the team<br> of <span class="text-primary">enthusiasts</span>
                    </div>
                    <p class="my-4 text-white">Scelerisque aenean cras lacinia feugiat phasellus<br> praesent placerat
                        suspendisse
                        arcu mollis litora et<br> sociosqu at rhoncus neque porttitor auctor vel augue<br> imperdiet
                        viverra hendrerit morbi.</p>

                    <div class="my-3">
                        <div class="col-12">
                            <div class="d-flex align-items-center my-3">
                                <div>
                                    <div
                                        class="d-flex justify-content-center align-items-center bg-primary rounded-circle me-3 count-circle text-center text-white">
                                        <span class="icon text-black">&#10004;</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="fs-5 text-white">Dolor aptent libero dictum</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-3">
                        <div class="col-12">
                            <div class="d-flex align-items-center my-3">
                                <div>
                                    <div
                                        class="d-flex justify-content-center align-items-center bg-primary rounded-circle me-3 count-circle text-center text-white">
                                        <span class="icon text-black">&#10004;</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="fs-5 text-white">Platea varius torquent etiam</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-3">
                        <div class="col-12">
                            <div class="d-flex align-items-center my-3">
                                <div>
                                    <div
                                        class="d-flex justify-content-center align-items-center bg-primary rounded-circle me-3 count-circle text-center text-white">
                                        <span class="icon text-black">&#10004;</span>
                                    </div>
                                </div>

                                <div>
                                    <div class="fs-5 text-white">Lobortis eros aliquam consequat</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form class="d-flex my-5" role="search">
                        <button class="read me-2" type="submit">Read more</button>
                    </form>

                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container">

            <div class="text-center text-secondary">
                CONTACT INFO
            </div>

            <div class="text-center text-white fs-1 fw-semibold my-2">
                We're making great projects.<br>Don't wait and<span class="text-primary"> contact us</span>
            </div>

            <div class="row mb-2">
               <div class="text-3 d-flex align-items-center justify-content-around text-center my-5">
                    <div>
                        WEBSITES<br>
                        ............................................................
                    </div>

                    <div>
                        E-COMMERCE<br>
                        ............................................................
                    </div>

                    <div>
                        APPLICATIONS<br>
                        ............................................................
                    </div>

                    <div>
                        OPENING HOURS<br>
                        ............................................................
                    </div>
               </div>

               <div class="d-flex justify-content-around align-items-center">
                    <div>
                        <img src="../../assets/images/agency6-whatwedo-icon7 (1).webp" alt="">
                    </div>

                    <div>
                        <img src="../../assets/images/agency6-whatwedo-icon8 (1).webp" alt="">
                    </div>

                    <div>
                        <img src="../../assets/images/agency6-whatwedo-icon5 (1).webp" alt="">
                    </div>

                    <div>
                        <img src="../../assets/images/agency6-whatwedo-icon6 (1).webp" alt="">
                    </div>
               </div>

               <div class="d-flex justify-content-around align-items-center text-white text-center my-3">
                    <div>
                        Every kind of websites<br> <span class="text-3">including webstore</span>
                    </div>

                    <div>
                        Cryptocurrency<br> <span class="text-3">payments and bitchain</span>
                    </div>

                    <div>
                        Fast and clean code<br> <span class="text-3">we put an effort into this</span>
                    </div>

                    <div>
                        Online payments<br> <span class="text-3">Every dolar count</span>
                    </div>
               </div>

               <form class="d-flex justify-content-center my-5" role="search">
                 <button class="read me-2" type="submit">Contact us</button>
               </form>

            </div>
        </div>
    </section>


    <section>
        <div class="container my-5">
            <div class="text-secondary text-center">
                OUR TEAM
            </div>

            <div class="text-center text-white fw-semibold fs-1">
                Meet our <span class="text-primary">team</span> full of enthusiasts
            </div>

            <div class="row my-5">
                <div class="d-flex justify-content-around align-items-center">
                    <img src="../../assets/images/agency6-about-pic3.webp" class="w-30-p" alt="">
                    <img src="../../assets/images/agency6-about-pic4.webp" class="w-30-p" alt="">
                    <img src="../../assets/images/agency6-about-pic5.webp" class="w-30-p" alt="">
                    <img src="../../assets/images/agency6-about-pic6.webp" class="w-30-p" alt="">
                </div>
            </div>

            <!-- <div class="d-flex justify-content-between text-secondary text-lg-start">

                <div>
                    CEO
                </div>

                <div>
                    CTO
                </div>

                <div>
                    OFFICE MANAGER
                </div>

                <div>
                    TEAM LEADER
                </div>
            </div> -->


            <div class="d-flex justify-content-around align-items-center text-primary text-lg-start my-3">
                
                <div>
                    <span class="text-secondary">CEO</span><br>
                    Arthuro Gambia<br>
                    .......................................................
                </div>

                <div>
                    <span class="text-secondary">CTO</span><br>
                    Miranda Begonsky<br>
                    .......................................................
                </div>

                <div>
                    <span class="text-secondary">OFFICE MANAGER</span><br>
                    Caroline Roman<br>
                    .......................................................
                </div>

                <div>
                    <span class="text-secondary">TEAM LEADER</span><br>
                    Jessica Albiciete<br>
                    .......................................................
                </div>
            </div>

            <form class="d-flex justify-content-center my-5" role="search">
                <button class="read me-2" type="submit">Meet whole team</button>
            </form>
        </div>
    </section>


    <footer class="footer">

        <div class="container text-center text-md-left">

            <div class="row">

                <div class="col-md-3 mx-auto">

                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-secondary text-lg-start fs-6">QUICK LINKS
                    </h5>

                    <ul class="list-unstyled text-lg-start">
                        <li>
                            <a href="#!">VBusiness Strategy</a>
                        </li>
                        <li>
                            <a href="#!">Marketing Strategy</a>
                        </li>
                        <li>
                            <a href="#!">UX/UI</a>
                        </li>
                        <li>
                            <a href="#!">Product Design</a>
                        </li>
                    </ul>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-3 mx-auto">

                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-secondary text-lg-start fs-6">OUR POLICY
                    </h5>

                    <ul class="list-unstyled text-lg-start">
                        <li>
                            <a href="#!">Career</a>
                        </li>
                        <li>
                            <a href="#!">Our goals</a>
                        </li>
                        <li>
                            <a href="#!">Events</a>
                        </li>
                        <li>
                            <a href="#!">Our Founder</a>
                        </li>
                    </ul>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-3 mx-auto">

                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-secondary text-lg-start fs-6">COMPANY
                        ADDRESS</h5>

                    <ul class="list-unstyled text-lg-start">
                        <li>
                            <a href="#!">Level 13,</a>
                        </li>
                        <li>
                            <a href="#!">2 Elizabeth,</a>
                        </li>
                        <li>
                            <a href="#!">Victoria 3000,</a>
                        </li>
                        <li>
                            <a href="#!">Australia</a>
                        </li>
                    </ul>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-3 mx-auto">

                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

                    <ul class="list-unstyled text-lg-start">
                        <li>
                            <a><img src="../assets/images/agency6.webp" alt=""></a>
                        </li>
                        <li class="fs-4">
                            <a href="#!">+61 (0) 3 8376 6284</a>
                        </li>
                        <li>
                            <a href="#!">noreply@envato.com</a>
                        </li>
                        <li>
                            <a href="#!"></a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>
        <hr class="text-secondary">
        <div class="d-flex justify-content-between p-5">
            <span class="fw-semibold d-flex align-items-center text-secondary"> © 2020 Copyright:
                © 2023 Betheme by Muffin group | All Rights Reserved | Powered by WordPress</span>

            <span class="fs-1"><a href="">&#x5e;</a></span>
        </div>

    </footer>
